@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: "Roboto", sans-serif;
  display: flex;
  /* flex-direction: column; */
  align-items: center; /*ეს გააცენტრებს ჰორიზონტალურად*/
  justify-content: center; /*ეს გააცენტრებს ვერტიკალურად, მაგრამ ამისთვის საჭიროა view port -ის გამოსახვა სრულებიტ კოდში*/
  height: 100vh;
  overflow: hidden; /*ეს იმიტომ რომ სქროლ ბარი არ გამოჩნდეს*/
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: 0.3s ease; /* ამას იმიტომ ვაკეთებთ რომ გაიწელოს დაჭერისას 0.3 წამის დიაპაზონში*/
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease; /*მაით ჩვენ ღილაკის დაჭერისას გვერდძე უნდა გაიწიოს*/
}

.btn:focus,
.input:focus {
  outline: none;
} /* იმისთვის რომ დაჭერისას ზოლები და ჩარჩოები არ გამოჩნდეს*/

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(
    198px
  ); /* ამით როცა აქტიურია სერჩის კლასი ღილაკის ნიშნული გადაიწევს 198 პიქსელით მარცხნივ იქს რერძზე*/
}
